### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, low_memory=False)   # Create (purchase_data)
purchase_data_disp = pd.DataFrame(purchase_data_df)  # Create display 
purchase_data_disp.head()  # Show top 5 rows of data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [34]:
# calculate the number of unique players  (Help from Khaledreview 6/15)
player_demographics = purchase_data_df.loc[:, ['Gender', 'SN', 'Age']]

# print (player_demographic)
player_demographics = player_demographics.drop_duplicates()  #drop duplicates
num_players = player_demographics.count()[0] # Display the total number of players
pd.DataFrame ({'Total Players': [num_players]}) # Create data dictionary with column name.

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
# Calculate number from purchase data
Item_ID_count = len(purchase_data_df['Item ID'].unique()) # Total Items
Price_Avg = purchase_data_df['Price'].mean() # Avg Price per unique item
Number_Purchase = len(purchase_data_df) # Number of purchase
Total_Revenue = purchase_data_df['Price'].sum() # Total revenue

# Show result in table
summary_disp = pd.DataFrame({'Total Item ID ':[Item_ID_count], 'Average_Price': [Price_Avg], 'Total Purchase': [Number_Purchase], 'Total Revenue': [Total_Revenue]}).style.format({'Total Revenue':"{:.2f}"})
summary_disp

## Gender Demographics

In [36]:
# calculate the number of unique players  (Help from Khaledreview 6/15)
player_demographics = purchase_data_df.loc[:, ['Gender', 'SN', 'Age']]

# print (player_demographic)
player_demographics = player_demographics.drop_duplicates()  #drop duplicates
num_players = player_demographics.count()[0] # Display the total number of players

In [37]:
# calculate the number and percentable by gender  (Help from Khaledreview 6/15)
gender_demographics_count = player_demographics['Gender'].value_counts()
gender_demographics_totals = gender_demographics_count.sum()
gender_demographics_percent = gender_demographics_count/gender_demographics_totals *100
gender_demographics = pd.DataFrame({'Count': gender_demographics_count, 'Percentage of Players': gender_demographics_percent})

#Minor Data Munging
gender_demographics = gender_demographics.round(2)
gender_demographics
gender_demographics.sort_values(['Count'], ascending = False).style.format({'Percentage':"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [38]:
# Run basic calculations
gender_data = purchase_data_df[['Purchase ID', 'Gender','Price','SN']]
grouped_gender_data = gender_data.groupby(['Gender'])
count = purchase_data_df['Gender'].value_counts()
avg_price = grouped_gender_data['Price'].mean()
price_total = grouped_gender_data['Price'].sum()

In [39]:
# Merge SN_data with Gender_data and find max by SN in Gender category
SN_data = gender_data.groupby(['SN'])
SN_price = SN_data['Price'].mean()
SN_price2 = SN_price.drop_duplicates()  #drop duplicates
gender = purchase_data_df.loc[:, ['Gender', 'SN', 'Price']]
gender2 = gender.drop_duplicates() 
merge_table = pd.merge(gender, SN_price2, on=['SN'], how='left')
merge_table
merge_table = merge_table.groupby(['Gender'])
gender_price = merge_table['Price_x'].max() 

# Display the summary data frame
gender_result = pd.DataFrame({'Purchases': count, 'Average Price': avg_price.round(2), 'Total Price': price_total, 'Max Price per Person':gender_price})
gender_result

,Purchases,Average Price,Total Price,Max Price per Person
Female,113,3.20,361.94,4.90
Male,652,3.02,1967.64,4.99
Other / Non-Disclosed,15,3.35,50.19,4.75

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
age_data = purchase_data_df[['Purchase ID','SN','Age','Price']]

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins
player_demographics['Age_Bins']= pd.cut(age_data['Age'], age_bins, labels=group_names)
player_demographics.head()

  Gender             SN  Age Age_Bins
0   Male        Lisim78   20    20-24
1   Male    Lisovynya38   40      40+
2   Male     Ithergue48   24    20-24
3   Male  Chamassasya86   24    20-24
4   Male      Iskosia90   23    20-24

In [42]:
# Calculate the numbers and percentages by age group
player_demo = player_demographics.groupby(['Age_Bins'])
player_demo_count = player_demo['Age_Bins'].value_counts()
player_demo_percentage = (player_demo_count/num_players* 100)

# Create a summary data frame to hold the results and round up to 2 decimal place
Age_result = pd.DataFrame({'Age_Count': player_demo_count, 'Percentage': player_demo_percentage.round(2)})
Age_result.head()  # Display Age Demographics Table

                   Age_Count  Percentage
Age_Bins Age_Bins
<10      <10              17        2.95
10-14    10-14            22        3.82
15-19    15-19           107       18.58
20-24    20-24           258       44.79
25-29    25-29            77       13.37

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
# Bin the purchase_data data frame by age
purchase_demo = purchase_data_df.loc[:, ['Purchase ID','Gender', 'SN', 'Age','Item ID', 'Price']]
purchase_demo['Age_Bins']= pd.cut(purchase_demo['Age'], age_bins, labels=group_names)
purchase_demo.set_index(['Age_Bins'], inplace=True)
purchase_demo.head()

          Purchase ID Gender             SN  Age  Item ID  Price
Age_Bins
20-24               0   Male        Lisim78   20      108   3.53
40+                 1   Male    Lisovynya38   40      143   1.56
20-24               2   Male     Ithergue48   24       92   4.88
20-24               3   Male  Chamassasya86   24      100   3.27
20-24               4   Male      Iskosia90   23      131   1.44

In [44]:
#Calculate purchase count, avg. purchase price, avg. purchase total per person etc. 
purchase_demo2 = purchase_demo.groupby(['Age_Bins'])
count_purchase = purchase_demo2['Purchase ID'].count()
avg_purchase = purchase_demo2['Price'].mean()
tot_purchase = purchase_demo2['Price'].sum()

# Create a summary data frame to hold the results and round up to 2 decimal place
disp_age_bin = pd.DataFrame({'Purchases Count': count_purchase, 'Average Purchase':avg_purchase.round(2), 'Total Purchase': tot_purchase.round(2)})
disp_age_bin.head()  # Display Age Demographics Table

          Purchases Count  Average Purchase  Total Purchase
Age_Bins
<10                    23              3.35           77.13
10-14                  28              2.96           82.78
15-19                 136              3.04          412.89
20-24                 365              3.05         1114.06
25-29                 101              2.90          293.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
# Create a summary data frame to hold the data 
SN_data0 = purchase_data_df.loc[:, ['SN', 'Item ID', 'Price']]
SN_data0.tail()

             SN  Item ID  Price
775  Aethedru70       60   3.54
776      Iral74      164   1.63
777  Yathecal72       67   3.46
778     Sisur91      101   4.19
779   Ennrian78       50   4.60

In [ ]:
SN_data = SN_data0.groupby(['SN'])

# series
user_spent = SN_data['Price'].sum()

user_count = SN_data['Item ID'].count()
user_avg_spent = SN_data['Price'].mean().round(2)
user_name = SN_data['SN'].unique()

# Create a summary data frame to hold the results
user_result = pd.DataFrame({'Uset Name': user_name, 'Total Spent': user_spent, 'Number of Purchase': user_count, 'Average Purchase': user_avg_spent})                
user_result.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
# Group by Item Name    (Help from Khaledreview 6/15)
item_data = purchase_data_df.groupby(["Item Name"])

# Create dfs with desired metrics to merge together
# Count by Item ID to get Number Sold
number_sold = pd.DataFrame(item_data["Item ID"].count())
number_sold.columns = ["Number Sold"]
number_sold.reset_index(inplace=True)
number_sold

# Take the average of the price column for Item Price
# (Some items are sold at different prices)
item_price = pd.DataFrame(round(item_data["Price"].mean(),2))
item_price.columns = ["Price (Avg)"]
item_price.reset_index(inplace=True)

# Take the sum of the Price column for the total revenue per item
total_value = pd.DataFrame(item_data["Price"].sum())
total_value.columns = ["Total Value"]
total_value.reset_index(inplace=True)

# Take the max of the Item ID column to pull the Item ID
item_id = pd.DataFrame(item_data["Item ID"].max())
item_id.reset_index(inplace=True)

# Merge the dfs together
merged_item_data = pd.merge(number_sold,item_price,on="Item Name")
merged_item_data = pd.merge(merged_item_data,total_value,on="Item Name")
merged_item_data = pd.merge(merged_item_data,item_id,on="Item Name")

# Reorder columns
merged_item_data = merged_item_data[['Item ID', 'Item Name', 'Number Sold', 'Price (Avg)', 'Total Value']]

# Sort by Number Sold to find most popular items
top5_items = merged_item_data.sort_values("Number Sold",ascending=False)

# Cut to Top Five, reset index
top5_items = top5_items.head()
top5_items.reset_index(inplace=True,drop=True)
top5_items

,Item ID,Item Name,Number Sold,Price (Avg),Total Value
0,101,Final Critic,13,4.61,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
2,141,Persuasion,9,3.22,28.99
3,82,Nirvana,9,4.90,44.10
4,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
# Re-sort previous df by Total Value to get most profitable games
top5_profits = merged_item_data.sort_values('Total Value',ascending=False)

# Cut to Top Five
top5_profits = top5_profits.head()

top5_profits

,Item ID,Item Name,Number Sold,Price (Avg),Total Value
56,101,Final Critic,13,4.61,59.99
93,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
92,82,Nirvana,9,4.90,44.10
55,145,Fiery Glass Crusader,9,4.58,41.22
125,103,Singed Scalpel,8,4.35,34.80