### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, low_memory=False)   # Create (purchase_data_df)
purchase_data_disp = pd.DataFrame(purchase_data_df)  # Create display 
purchase_data_disp.head() # Show top 5 rows of data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [52]:
# Look at actual data file
# print(purchase_data_df) 
# print(type(purchase_data_df))  # Note data type and column

## Player Count

* Display the total number of players

In [53]:
# Get player data
playercount = len(purchase_data_df["SN"].unique()) # How many unique playernames

# Show results
playercount_disp = pd.DataFrame({"Total SN":[playercount]}) 
playercount_disp

   Total SN
0       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Calculate number from purchase data
Item_ID_count = len(purchase_data_df['Item ID'].unique()) # Total Items
Price_Avg = purchase_data_df['Price'].mean() # Avg Price per unique item
Number_Purchase = len(purchase_data_df) # Number of purchase
Total_Revenue = purchase_data_df['Price'].sum() # Total revenue

# Show result in table
summary_disp = pd.DataFrame({'Total Item ID ':[Item_ID_count], 'Average_Price': [Price_Avg], 'Total Purchase': [Number_Purchase], 'Total Revenue': [Total_Revenue]}).style.format({'Total Revenue':"{:.2f}"})
summary_disp

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [55]:
# Gender Demographics
# Use gender count data in series 
gender_data = purchase_data_df[['Purchase ID', 'Gender']]
gender_count = gender_data['Gender'].value_counts()
gender_tot = gender_count.sum()
percent = gender_count / gender_tot *100

# Show results
gender_result = pd.DataFrame({'count': gender_count, 'percent':percent})
gender_result.index.name = None
gender_result.sort_values(['count'], ascending = False).style.format({'percent':"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [56]:
# Calculate series
gender_data = purchase_data_df[['Purchase ID', 'Gender','Price','SN']]
grouped_gender_data = gender_data.groupby(['Gender'])
count = purchase_data_df['Gender'].value_counts()
avg_price = grouped_gender_data['Price'].mean()
price_total = grouped_gender_data['Price'].sum()
# See result table at end

In [57]:
# Create DataFrames
SN_df = purchase_data_df[['SN','Price']]
Gen_df = purchase_data_df[['Gender','SN']]

# Merge two dataframes using an inner join
merge_table = pd.merge(SN_df, Gen_df, how='right', on='SN')
merge_table 

# Stuck can't group into average per Gender
# SN_Gen = merge_table.groupby['Gender']
# SN_price = SN_GEN['Price'].mean()

                  SN  Price                 Gender
0            Lisim78   3.53                   Male
1            Lisim78   4.74                   Male
2            Lisim78   1.75                   Male
3            Lisim78   3.53                   Male
4            Lisim78   4.74                   Male
5            Lisim78   1.75                   Male
6            Lisim78   3.53                   Male
7            Lisim78   4.74                   Male
8            Lisim78   1.75                   Male
9        Lisovynya38   1.56                   Male
10        Ithergue48   4.88                   Male
11     Chamassasya86   3.27                   Male
12         Iskosia90   1.44                   Male
13           Yalae81   3.61                   Male
14           Yalae81   3.08                   Male
15           Yalae81   3.61                   Male
16           Yalae81   3.08                   Male
17         Itheria73   2.18                   Male
18       Iskjaskst81   2.67                   Male
19       Iskjaskst81   1.75                   Male
20       Iskjaskst81   2.67                   Male
21       Iskjaskst81   1.75                   Male
22         Undjask33   1.10                   Male
23       Chanosian48   3.58  Other / Non-Disclosed
24       Chanosian48   3.94  Other / Non-Disclosed
25       Chanosian48   3.58  Other / Non-Disclosed
26       Chanosian48   3.94  Other / Non-Disclosed
27         Inguron55   4.74                   Male
28         Inguron55   4.58                   Male
29         Inguron55   1.79                   Male
...              ...    ...                    ...
1252    Chanosiaya39   1.97                   Male
1253       Assylla81   4.18                   Male
1254       Aidaira26   4.23                   Male
1255        Eudanu84   1.02                 Female
1256      Chamiman85   4.40                   Male
1257     Tyialisti80   4.14                   Male
1258       Marundi65   1.75                   Male
1259         Eusur90   1.60                   Male
1260   Mindirranya33   3.87                   Male
1261    Phiallylis33   4.58                   Male
1262          Isty55   4.08                   Male
1263     Frichilsa31   1.44                   Male
1264      Chanista95   3.16                   Male
1265      Aellyria80   3.08                   Male
1266   Rastynusuir31   2.27                   Male
1267        Iljask75   3.61                   Male
1268     Lisjaskan36   3.36                   Male
1269   Mindjasksya61   2.60                   Male
1270  Frichirranya75   4.23                   Male
1271         Ilast79   2.05                   Male
1272       Eratiel90   4.60                   Male
1273         Assim27   1.70                   Male
1274         Irith83   2.07                   Male
1275       Ilosian36   4.58                   Male
1276    Iskossasda43   4.35                   Male
1277          Hala31   1.02                   Male
1278      Jiskjask80   4.19                   Male
1279      Aethedru70   3.54                 Female
1280      Yathecal72   3.46                   Male
1281         Sisur91   4.19                   Male

[1282 rows x 3 columns]

In [58]:
# Show result 
gender_result = pd.DataFrame({'Purchases': count, 'Average Price': avg_price, 'Total Price': price_total, 'Price per Person':0})
# gender_result1.sort_values(['count'], ascending = False).style.format({'avg_price':"{:.2f}"})
gender_result

                       Purchases  Average Price  Total Price  Price per Person
Female                       113       3.203009       361.94                 0
Male                         652       3.017853      1967.64                 0
Other / Non-Disclosed         15       3.346000        50.19                 0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
#age_bin_data = age_cut.groupby(['Age Bin']) 
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
# age_bin_data = age_cut.groupby(['Age Bin'])
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
#age_bin_data = age_cut.groupby(['Age Bin'])
#age_bin_data

# Create a dataframe from the count of the Age column
# age_bin_df = pd.DataFrame(age_bin_data['Age Bin'].count())

# Rename Total column and Add Percentage column
# age_bin_df.columns = ['Total Players']
# age_bin_df["Percentage"] = [round(((x/total_players)*100),2) for x in age_binned_df["Total Players"]]
# print(age_bin_df)

0      18-21
1      38-40
2      22-25
3      22-25
4      22-25
5      22-25
6      34-37
7      18-21
8      22-25
9      34-37
10     22-25
11     22-25
12     18-21
13     22-25
14     34-37
15     18-21
16     18-21
17     18-21
18     22-25
19     30-33
20     18-21
21     18-21
22     38-40
23     38-40
24     30-33
25     26-29
26     10-13
27       <10
28     18-21
29     22-25
       ...
750    22-25
751    10-13
752    14-17
753    34-37
754    22-25
755    10-13
756    18-21
757    18-21
758    18-21
759    22-25
760    18-21
761      >40
762    26-29
763    18-21
764    18-21
765    18-21
766    22-25
767      <10
768    38-40
769    14-17
770    34-37
771    14-17
772    26-29
773    18-21
774    10-13
775    18-21
776    18-21
777    18-21
778      <10
779    22-25
Name: Age, Length: 780, dtype: category
Categories (10, object): [<10 < 10-13 < 14-17 < 18-21 ... 30-33 < 34-37 < 38-40 < >40]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# still working on it

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
# Group by Screenname 
SN_data = purchase_data_df.groupby(["SN"])

# Find the sum of the price column per screenname
user_spent = pd.DataFrame(SN_data["Price"].sum())
user_count = pd.DataFrame(SN_data["SN"].count())

user_spent.columns = ["Total Spent"]
user_count.columns = ["Total Purchases"]

user_spent.reset_index(inplace=True)
user_count.reset_index(inplace=True)

# Merge the two tables
top_five = pd.merge(user_spent,user_count,on="SN")
top_five = top_five.sort_values("Total Spent",ascending=False) #sort
top_five = top_five.head()

# Add a column for Average Purchase
top_five["Average Purchase"] = round((top_five["Total Spent"] / top_five["Total Purchases"]),2)

# Reorder columns, reset index
top5_spenders = top_five[["SN","Total Purchases","Average Purchase","Total Spent"]]
top5_spenders.reset_index(inplace=True,drop=True)

top5_spenders

            SN  Total Purchases  Average Purchase  Total Spent
0    Lisosia93                5              3.79        18.96
1  Idastidru52                4              3.86        15.45
2   Chamjask73                3              4.61        13.83
3       Iral74                4              3.40        13.62
4  Iskadarya95                3              4.37        13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
# Group by Item Name
item_data = purchase_data_df.groupby(["Item Name"])

# Create dfs with desired metrics to merge together
# Count by Item ID to get Number Sold
number_sold = pd.DataFrame(item_data["Item ID"].count())
number_sold.columns = ["Number Sold"]
number_sold.reset_index(inplace=True)

# Take the average of the price column for Item Price
# (Some items are sold at different prices)
item_price = pd.DataFrame(round(item_data["Price"].mean(),2))
item_price.columns = ["Price (Avg)"]
item_price.reset_index(inplace=True)

# Take the sum of the Price column for the total revenue per item
total_value = pd.DataFrame(item_data["Price"].sum())
total_value.columns = ["Total Value"]
total_value.reset_index(inplace=True)

# Take the max of the Item ID column to pull the Item ID
item_id = pd.DataFrame(item_data["Item ID"].max())
item_id.reset_index(inplace=True)

# Merge the dfs together
merged_item_data = pd.merge(number_sold,item_price,on="Item Name")
merged_item_data = pd.merge(merged_item_data,total_value,on="Item Name")
merged_item_data = pd.merge(merged_item_data,item_id,on="Item Name")

# Reorder columns
merged_item_data = merged_item_data[['Item ID', 'Item Name', 'Number Sold', 'Price (Avg)', 'Total Value']]

# Sort by Number Sold to find most popular items
top5_items = merged_item_data.sort_values("Number Sold",ascending=False)

# Cut to Top Five, reset index
top5_items = top5_items.head()
top5_items.reset_index(inplace=True,drop=True)
top5_items

,Item ID,Item Name,Number Sold,Price (Avg),Total Value
0,101,Final Critic,13,4.61,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
2,141,Persuasion,9,3.22,28.99
3,82,Nirvana,9,4.90,44.10
4,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [65]:
# Re-sort previous df by Total Value to get most profitable games
top5_profits = merged_item_data.sort_values("Total Value",ascending=False)

# Cut to Top Five
top5_profits = top5_profits.head()

top5_profits

,Item ID,Item Name,Number Sold,Price (Avg),Total Value
56,101,Final Critic,13,4.61,59.99
93,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
92,82,Nirvana,9,4.90,44.10
55,145,Fiery Glass Crusader,9,4.58,41.22
125,103,Singed Scalpel,8,4.35,34.80