### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, low_memory=False)   # Create (purchase_data_df)
purchase_data_disp = pd.DataFrame(purchase_data_df)  # Create display 
purchase_data_disp.head() # Show top 5 rows of data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
# Look at actual data file
# print(purchase_data_df) 
# print(type(purchase_data_df))  # Note data type and column

## Player Count

* Display the total number of players

In [22]:
# Get player data
playercount = len(purchase_data_df["SN"].unique()) # How many unique playernames

# Show results
playercount_disp = pd.DataFrame({"Total SN":[playercount]}) 
playercount_disp

   Total SN
0       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# Calculate number from purchase data
Item_ID_count = len(purchase_data_df['Item ID'].unique()) # Total Items
Price_Avg = purchase_data_df['Price'].mean() # Avg Price per unique item
Number_Purchase = len(purchase_data_df) # Number of purchase
Total_Revenue = purchase_data_df['Price'].sum() # Total revenue

# Show result in table
summary_disp = pd.DataFrame({'Total Item ID ':[Item_ID_count], 'Average_Price': [Price_Avg], 'Total Purchase': [Number_Purchase], 'Total Revenue': [Total_Revenue]}).style.format({'Total Revenue':"{:.2f}"})
summary_disp

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
# Gender Demographics
# Use gender count data in series 
gender_data = purchase_data_df[['Purchase ID', 'Gender']]
gender_count = gender_data['Gender'].value_counts()
gender_tot = gender_count.sum()
percent = gender_count / gender_tot *100

# Show results
gender_result = pd.DataFrame({'count': gender_count, 'percent':percent})
gender_result.index.name = None
gender_result.sort_values(['count'], ascending = False).style.format({'percent':"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [25]:
# Calculate series
gender_data = purchase_data_df[['Purchase ID', 'Gender','Price','SN']]
grouped_gender_data = gender_data.groupby(['Gender'])
count = purchase_data_df['Gender'].value_counts()
avg_price = grouped_gender_data['Price'].mean()
price_total = grouped_gender_data['Price'].sum()
# See result table at end

In [39]:
# Create DataFrames
SN_df = purchase_data_df[['SN','Price']]
Gen_df = purchase_data_df[['Gender','SN']]

# Merge two dataframes using an inner join
merge_table = pd.merge(SN_df, Gen_df, how='right', on='SN')
merge_table1 = merge_table.groupby(['SN'])
SN_price = merge_table1['Price'].mean()
print(SN_price)
merge_table2_df = pd.DataFrame({'Gender': 'Gender', 'Avg Price':SN_price})
print(merge_table2_df)
SN_price_gender = merge_table2_df.groupby(['Gender'])
merge_table3 
# I think I am right ...(please check the template with 4.xxx mean values)
# See result table at end

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64
                 Gender  Avg Price
SN
Adairialis76     Gender   2.280000
Adastirin33      Gender   4.480000
Aeda94           Gender   4.910000
Aela59           Gender   4.320000
Aelaria33        Gender   1.790000
Aelastirin39     Gender   3.645000
Aelidru27        Gender   1.090000
Aelin32          Gender   2.993333
Aelly27          Gender   3.395000
Aellynun67       Gender   3.740000
Aellyria80       Gender   3.080000
Aelollo59        Gender   2.815000
Aenarap34        Gender   2.960000
Aeral43          Gender   4.400000
Aeral68          Gender   4.000000
Aeral97          Gender   4.800000
Aeralria27       Gender   4.090000
Aeralstical35    Gender   2.960000
Aeri84           Gender   1.610000
Aerillorin70     Gender   3.330000
Aerithllora36    Gender   4.320000
Aerithnucal56    Gender   4.400000
Aerithnuphos61   Gender   4.910000
Aerithriaphos45  Gender   1.560000
Aerithriaphos46  Gender   2.180000
Aesri53          Gender   1.760000
Aesty53          Gender   1.955000
Aestysu37        Gender   2.690000
Aesur96          Gender   2.210000
Aesurstilis64    Gender   1.030000
...                 ...        ...
Undosia27        Gender   3.770000
Undosian34       Gender   4.150000
Undotesta33      Gender   4.740000
Wailin72         Gender   2.730000
Yadacal26        Gender   3.270000
Yadaisuir65      Gender   4.090000
Yadam35          Gender   2.480000
Yadanu52         Gender   2.380000
Yadaphos40       Gender   2.675000
Yalae81          Gender   3.345000
Yalaeria91       Gender   1.060000
Yaliru88         Gender   3.030000
Yalo85           Gender   3.650000
Yalostiphos68    Gender   4.400000
Yana46           Gender   3.550000
Yarithllodeu72   Gender   3.750000
Yarithrgue83     Gender   3.450000
Yarithrin84      Gender   4.140000
Yarithsurgue62   Gender   4.940000
Yarolwen77       Gender   4.430000
Yasrisu92        Gender   3.440000
Yastyriaphos75   Gender   4.750000
Yasur35          Gender   4.480000
Yasur85          Gender   1.100000
Yathecal72       Gender   3.460000
Yathecal82       Gender   2.073333
Yathedeu43       Gender   3.010000
Yoishirrala98    Gender   4.580000
Zhisrisu83       Gender   3.945000
Zontibe81        Gender   2.676667

[576 rows x 2 columns]

Gender
Female                   3.225873
Male                     3.036607
Other / Non-Disclosed    3.343478
Name: Price, dtype: float64

In [40]:
# Show result 
gender_result = pd.DataFrame({'Purchases': count, 'Average Price': avg_price, 'Total Price': price_total, 'Price per Person':merge_table3})
# gender_result1.sort_values(['count'], ascending = False).style.format({'avg_price':"{:.2f}"})
gender_result

                       Purchases  Average Price  Total Price  Price per Person
Female                       113       3.203009       361.94          3.225873
Male                         652       3.017853      1967.64          3.036607
Other / Non-Disclosed         15       3.346000        50.19          3.343478

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
#age_bin_data = age_cut.groupby(['Age Bin']) 
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
# age_bin_data = age_cut.groupby(['Age Bin'])
age_data = purchase_data_df[['SN','Age','Purchase ID','Price']]

# Create the bins
age_bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

# Create the names for the four bins
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

# Show only the result of cut without the original table
age_cut = pd.cut(age_data['Age'], age_bins, labels = group_names)
age_cut.columns = ['ID', 'Age Bin']
age_cut

# Create GroupBy object
#age_bin_data = age_cut.groupby(['Age Bin'])
#age_bin_data

# Create a dataframe from the count of the Age column
# age_bin_df = pd.DataFrame(age_bin_data['Age Bin'].count())

# Rename Total column and Add Percentage column
# age_bin_df.columns = ['Total Players']
# age_bin_df["Percentage"] = [round(((x/total_players)*100),2) for x in age_binned_df["Total Players"]]
# print(age_bin_df)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# still working on it

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Group by Screenname 
SN_data = purchase_data_df.groupby(["SN"])

# Find the sum of the price column per screenname
user_spent = pd.DataFrame(SN_data["Price"].sum())
user_count = pd.DataFrame(SN_data["SN"].count())

user_spent.columns = ["Total Spent"]
user_count.columns = ["Total Purchases"]

user_spent.reset_index(inplace=True)
user_count.reset_index(inplace=True)

# Merge the two tables
top_five = pd.merge(user_spent,user_count,on="SN")
top_five = top_five.sort_values("Total Spent",ascending=False) #sort
top_five = top_five.head()

# Add a column for Average Purchase
top_five["Average Purchase"] = round((top_five["Total Spent"] / top_five["Total Purchases"]),2)

# Reorder columns, reset index
top5_spenders = top_five[["SN","Total Purchases","Average Purchase","Total Spent"]]
top5_spenders.reset_index(inplace=True,drop=True)

top5_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Group by Item Name
item_data = purchase_data_df.groupby(["Item Name"])

# Create dfs with desired metrics to merge together
# Count by Item ID to get Number Sold
number_sold = pd.DataFrame(item_data["Item ID"].count())
number_sold.columns = ["Number Sold"]
number_sold.reset_index(inplace=True)

# Take the average of the price column for Item Price
# (Some items are sold at different prices)
item_price = pd.DataFrame(round(item_data["Price"].mean(),2))
item_price.columns = ["Price (Avg)"]
item_price.reset_index(inplace=True)

# Take the sum of the Price column for the total revenue per item
total_value = pd.DataFrame(item_data["Price"].sum())
total_value.columns = ["Total Value"]
total_value.reset_index(inplace=True)

# Take the max of the Item ID column to pull the Item ID
item_id = pd.DataFrame(item_data["Item ID"].max())
item_id.reset_index(inplace=True)

# Merge the dfs together
merged_item_data = pd.merge(number_sold,item_price,on="Item Name")
merged_item_data = pd.merge(merged_item_data,total_value,on="Item Name")
merged_item_data = pd.merge(merged_item_data,item_id,on="Item Name")

# Reorder columns
merged_item_data = merged_item_data[['Item ID', 'Item Name', 'Number Sold', 'Price (Avg)', 'Total Value']]

# Sort by Number Sold to find most popular items
top5_items = merged_item_data.sort_values("Number Sold",ascending=False)

# Cut to Top Five, reset index
top5_items = top5_items.head()
top5_items.reset_index(inplace=True,drop=True)
top5_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Re-sort previous df by Total Value to get most profitable games
top5_profits = merged_item_data.sort_values("Total Value",ascending=False)

# Cut to Top Five
top5_profits = top5_profits.head()

top5_profits